# Git
.git
.gitignore

# Environment & secrets
.env
.env.*

# Node / Python / common deps
node_modules
__pycache__
*.pyc
.venv
vendor

# Build output
dist
build
target

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode
.idea

# Docker files you usually don't need inside image
docker-compose.yml
docker-compose.*.yml
README.md
